asgiref==3.5.0
certifi==2021.10.8
charset-normalizer==2.0.12
decorator==5.1.1
Django==3.2.12
django-cors-headers==3.11.0
django-filter==21.1
djangorestframework==3.13.1
graphviz==0.19.1
idna==3.3
interchange==2021.0.4
jieba==0.42.1
monotonic==1.6
numpy==1.21.5
objgraph==3.5.0
packaging==21.3
paddlepaddle-tiny==1.6.1
pansi==2020.7.3
protobuf==3.19.4
py2neo==2021.2.3
Pygments==2.11.2
PyMySQL==1.0.2
pyparsing==3.0.7
pytz==2021.3
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.1.1
urllib3==1.26.8
